.task{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.label{
    cursor: pointer;
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

.input[type="checkbox"] {
    zoom:2;
}
.completed{
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
    cursor: pointer;
    text-decoration: line-through;
}

.task button{
    background-color: grey;
}