.task{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.label{
    cursor: pointer;
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

.input[type="checkbox"] {
    zoom:2;
}

.completed{
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
    cursor: pointer;
    text-decoration: line-through;
}

.button{
    padding: 9px;
    cursor: pointer;
    font-size: 17px;
    color: white;
    border: inherit;
    background-color:#007FFF ;
    border-radius: 3px;
}

.button:hover{
    background-color: red;
}