.button{
    background-color: #007FFF;
    font-size: 24px;
    padding: 5px 10px;
    color: white;
    border: inherit;
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
    color: #007FFF;
    background-color:white;
}

